.awesome9-drawer {
	&__content {
		@apply w-96 absolute left-0 top-0 pl-9 pr-3 overflow-y-auto transition-transform bg-white;
		transform: translateX(-120%);
	}

	&__controller:checked ~ &__content {
		transform: translateX(0);
		z-index: 40;
	}

	&__controller:checked ~ &__backdrop {
		@apply block;
	}
}

.drawer--sidebar {
	&.awesome9-drawer__content {
		@apply fixed h-full left-auto top-8 right-0 px-9;
		transform: translateX(120%);
	}

	.awesome9-drawer {
		&__controller:checked ~ &__content {
			transform: translateX(0);
		}
	}
}
